<a href="https://colab.research.google.com/github/Haalibrahim/Datacamp/blob/main/Joining_database_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Various options to joing datasets
#append df.append(df2) .. join datasets vertically
#concate pd.concate([df1,df2]) , vertically or horizontally,inner/outer joins on indexes
#join df1.join(df2), inner, outer,left,right joins on indexes
# pd.merge([df1,df2]), many joins on many columns

In [1]:
import pandas as pd

In [6]:
movies=pd.read_csv("/content/movie.csv")

In [7]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movies.shape

(27278, 3)

In [9]:
movies.movieId.nunique()

27278

In [10]:
ratings = pd.read_csv("/content/rating.csv")

In [11]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [12]:
ratings.shape

(4996351, 4)

In [13]:
ratings.movieId.nunique()

20401

In [14]:
# loc helps to pull specific data from the dataframe
# in this example, we are pulling movie id == 1,: basically to pull all the columns
ratings.loc[ratings.movieId == 1,:].head()

     userId  movieId  rating            timestamp
236       3        1     4.0  1999-12-11 13:36:47
517       6        1     5.0  1997-03-13 17:50:52
817       8        1     4.0  1996-06-05 13:37:51
922      10        1     4.0  1999-11-25 02:44:47
960      11        1     4.5  2009-01-02 01:13:41

In [15]:
# if we want to add the names to the id, we can merge
# let us first check the columns for each datafrane
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [16]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [17]:
movie_ratings= pd.merge(movies,ratings)

In [18]:
movie_ratings.columns

Index(['movieId', 'title', 'genres', 'userId', 'rating', 'timestamp'], dtype='object')

In [19]:
movie_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41

In [20]:
movie_ratings.shape

(4996351, 6)

In [21]:
print(movies.shape)
print(ratings.shape)
print(movie_ratings.shape)

(27278, 3)
(4996351, 4)
(4996351, 6)

In [ ]:
# when do you used left_on, right_on when you merge? when you have different names for the columns

In [22]:
# let us change the movieId name
movies.rename(columns={"movieId":"m_id"},inplace=True)

In [24]:
movies.columns

Index(['m_id', 'title', 'genres'], dtype='object')

In [25]:
# if we try to merge with different titles, it will return error
pd.merge(movies, ratings).head()

MergeError: ignored

In [26]:
# now let us merge
pd.merge(movies, ratings, left_on='m_id', right_on='movieId').head()

,m_id,title,genres,userId,movieId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,1,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,1,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,1,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,1,4.5,2009-01-02 01:13:41

In [27]:
# let us join on one index
# let us set the index for movies on "m_id"
movies=movies.set_index('m_id')
movies.head()

,title,genres
m_id,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [28]:
pd.merge(movies, ratings, left_index=True, right_on="movieId").head()

,title,genres,userId,movieId,rating,timestamp
236,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,1,4.0,1999-12-11 13:36:47
517,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,1,5.0,1997-03-13 17:50:52
817,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,1,4.0,1996-06-05 13:37:51
922,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1,4.0,1999-11-25 02:44:47
960,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,1,4.5,2009-01-02 01:13:41

In [29]:
# what if we want to merge on two indexes? 
ratings= ratings.set_index('movieId')
ratings.head()

         userId  rating            timestamp
movieId
2             1     3.5  2005-04-02 23:53:47
29            1     3.5  2005-04-02 23:31:16
32            1     3.5  2005-04-02 23:33:39
47            1     3.5  2005-04-02 23:32:07
50            1     3.5  2005-04-02 23:29:40

In [30]:
pd.merge(movies, ratings, left_index=True, right_index=True).head()

,title,genres,userId,rating,timestamp
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41

Four Types of Joints

In [31]:
A= pd.DataFrame({'color': ['green','red','yellow'],
                 'num':[1,2,3]})
A

    color  num
0   green    1
1     red    2
2  yellow    3

In [32]:
B = pd.DataFrame({'color':['green','pink','yellow'],
                  'size':['S','M','L']})
B

    color size
0   green    S
1    pink    M
2  yellow    L

### Inner
#### found in both

In [33]:
pd.merge(A, B,how='inner')

    color  num size
0   green    1    S
1  yellow    3    L

### Outer
#### Found in either one of them

In [34]:
pd.merge(A, B, how='outer')

    color  num size
0   green  1.0    S
1     red  2.0  NaN
2  yellow  3.0    L
3    pink  NaN    M

### Left
#### Include all observations from left

In [36]:
pd.merge(A, B, how='left')

    color  num size
0   green    1    S
1     red    2  NaN
2  yellow    3    L

### Right 
#### Include all observations from right

In [37]:
pd.merge(A, B, how='right')

    color  num size
0   green  1.0    S
1    pink  NaN    M
2  yellow  3.0    L

### Merge_asof

In [42]:
>>> left = pd.DataFrame({'a': [1, 5, 10], 'left_val': ['a', 'b', 'c']})
>>> left

    a left_val
0   1        a
1   5        b
2  10        c

In [43]:
>>> right = pd.DataFrame({'a': [1, 2, 3, 6, 7],
...                       'right_val': [1, 2, 3, 6, 7]})
>>> right

   a  right_val
0  1          1
1  2          2
2  3          3
3  6          6
4  7          7

In [44]:
pd.merge(left,right,on='a')

   a left_val  right_val
0  1        a          1

In [45]:
pd.merge_asof(left,right,on='a')

    a left_val  right_val
0   1        a          1
1   5        b          3
2  10        c          7